<header>
    <span>Brians Ostebiks</span>
    <nav>
        <ul>
            <li><a href="#">Oste</a></li>
            <li><a href="#">Vin</a></li>
            <li><a href="#">Brød</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</header>