<% include ../partials/head-start %>
<link rel="stylesheet" href="/assets/css/index.css">
<% include ../partials/head-end %>

<% include ../partials/header %>

<main>
    <section id="banner">
        <h1>Brians Ostebiks</h1>

        <aside id="banner-aside">
            <h2>Ugens Ost</h2>
            <section id="banner-fact-section">
                <figure>
                    <img src="/assets/img/hero-bg.jpg" alt="">
                </figure>
                <section>
                    <h3>Feta</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur assumenda rem eveniet repudiandae, ratione itaque expedita, facere sit culpa magnam est, deserunt asperiores iure enim. Sapiente ducimus ullam dolore porro.</p>
                    <a href="#">Læs mere</a>
                </section>
            </section>
        </aside>
    </section>
</main>

<% include ../partials/doc-end %>