<% include ../partials/head-start %>
<link rel="stylesheet" href="/assets/css/product-item.css">
<% include ../partials/head-end %>

<% include ../partials/header %>

<main>
    <h2>Produktnavn</h2>

    <section id="product-main">
        <section id="product-view">
            <figure id="main-view">
                <img src="/assets/img/hero-bg.jpg" alt="">
            </figure>
            <section>
                <figure><img src="/assets/img/hero-bg.jpg" alt=""></figure>
                <figure><img src="/assets/img/hero-bg.jpg" alt=""></figure>
                <figure><img src="/assets/img/hero-bg.jpg" alt=""></figure>
            </section>
        </section>
        <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, deserunt sequi. Laborum nulla similique a, ut nemo atque? Esse ut quisquam dolorem perspiciatis ratione recusandae laudantium, eos eveniet non officiis.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, deserunt sequi. Laborum nulla similique a, ut nemo atque? Esse ut quisquam dolorem perspiciatis ratione recusandae laudantium, eos eveniet non officiis.</p>

            <table>
                <tbody>
                    <tr>
                        <td>Land</td>
                        <td>Danmark</td>
                    </tr>
                    <tr>
                        <td>Vægt</td>
                        <td>250g</td>
                    </tr>
                    <tr>
                        <td>Pris</td>
                        <td>DKK 65,75</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <section id="recommendations">
        <h4>Du er måske også interesseret i dette</h4>
        <section>
            <a href="#"><img src="/assets/img/hero-bg.jpg" alt=""></a>
            <a href="#"><img src="/assets/img/hero-bg.jpg" alt=""></a>
            <a href="#"><img src="/assets/img/hero-bg.jpg" alt=""></a>
            <a href="#"><img src="/assets/img/hero-bg.jpg" alt=""></a>
        </section>
    </section>
</main>

<% include ../partials/doc-end %>